extends ../layouts/layouts.pug

block content
    h1.mb-5 Public Diaries

    #diaries
        diary-entry(v-for="item in entries" v-bind:diary="item" v-bind:key="item.id")

block scripts
    script(src="js/index.js")
