extends ../layouts/layouts.pug

block content
    h1.mb-5 Login

    form#loginForm(v-on:submit.prevent="onSubmit")
        .alert.alert-danger(v-if="error") {{ error }}

        .form-group
            label(for="inputUsername") Username
            input#inputUsername.form-control(v-model.trim="username" type="text")
        .form-group
            label(for="inputPassword") Password
            input#inputPassword.form-control(v-model.trim="password" type="password")

        button.btn.btn-primary(type="Submit" v-bind:disabled="hasSubmission") Login

block scripts
    script(src="js/login.js")
