extends ../layouts/layouts.pug

block content
    h1.mb-5 My Diaries

    #diaries
        diary-entry(editable="true" v-for="item in entries" v-bind:diary="item" v-bind:key="item.id")

block scripts
    script(src="js/mydiary.js")
